$cs-background: #F2F4F6;
$cs-light-grey: #F5F5F5;
$cs-secondary: #8794AA;
$cs-border: #E8E8EB;
$cs-white: #FFFFFF;
$cs-black: #42526E;
$cs-grey: #BDBDBD;

$cs-primary: #2766C4;
$cs-yellow: #FEBC22;
$cs-green: #33B677;
$cs-red: #FF5454;

$cs-primary-light: #E7F0FF;
$cs-yellow-light: #FFF2D3;
$cs-green-light: #D6F0E4;
$cs-red-light: #FFE2E2;
